body {
}
.img {
	border-radius: 14px;
}
#avatar {
	/*border: solid green;*/
	overflow:hidden;
	height:10%;
}
#avatar img{
	height:85%;
	width:auto;
	float:left;
	margin-right: 1%;
	
}
#avatar img:hover{
	background-color: rgba(240, 240, 240, 0);
	height:95%;
	margin-right:0.2%;
}
#icon-click{
}
#menu-topo{
	background-color: #E8E8E8 ;
	}
#nav-menu`{
	display:inline;
	}
#cima-chat{
	max-height:75%;
	overflow:auto; 
	overflow-x:hidden;
	background-color:#F0F0F0;
}
.conversa{
	margin-bottom:5px;
	margin-top:5px;
	padding:5px;
	width:auto;
	max-width:75%;
	word-wrap: break-word;
	background-color:#F0F0F0;
	opacity:0.5;
	border:3px solid black;
	}
.conversa-right{
	float:right;
}
.conversa-left{
	float:left;
	
}
.clear-both{
	clear:both;
}