body {
}
#avatar {
	/*border: solid green;*/
	height:30%;
}
#avatar img{
	height:4em;
	width:auto;
}
#icon-click{
}
#menu-topo{
	background-color: #E8E8E8 ;
	height:5em;
	}
#nav-menu`{
	display:inline;
	}
